@{
    ViewBag.Title = "Dashboard";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<article>
    <section>
        <div>
            <!-- Content Wrapper. Contains page content -->
            <div>
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    </h1>
                    @*<ol class="breadcrumb" style="font-size: 14px;">
                        <li><a href="#"><i class="ion ion-clock"></i>
                            <label id="Date"></label>
                        </a></li>
                    </ol>*@
                </section>
                <br />
                <div class="form-group pull-right">
                    <div class="col-md-3">
                        <input class="form-group" type="date"  id="date">
                    </div>
                </div>
                <div class="form-group" style="margin-left: 1%">
                    <label>Locations:</label>
                    @Html.DropDownList("Location", null, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })
                </div>

                <!-- Main content -->
                <div id="ParView">
                </div>
                <!-- /.content -->
            </div>
        </div>
    </section>
</article>


<script src="~/Scripts/Dashboard/jQuery-2.1.4.min.js"></script>
<!-- jQuery 2.1.4 -->
@*<script src="@Url.Content("~/Scripts/Dashboard/DashboardValues.js")"></script>*@
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var today = moment().format('YYYY-MM-DD');
        $('#date').val(today);
        var Date = $('#date').val();
        var id = $('#Location').val();
        $.ajax({
            url: '/Home/GetDahboard',
            type: 'POST',
            data: { Locationid: id, Date: Date},
            success: function (result) {
                $('#ParView').html(result);
            },
            error: function () {

            }
        });
        $('#Location').change(function () {
            var Date = $('#date').val();
            var id = $('#Location').val();
            $.ajax({
                url: '/Home/GetDahboard',
                type: 'POST',
                data: { Locationid: id, Date: Date},
                success: function (result) {
                    $('#ParView').html(result);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        });
        $("#date").on("change", function () {
            var Date = $('#date').val();
            var id = $('#Location').val();
            $.ajax({
                url: '/Home/GetDahboard',
                type: 'POST',
                data: { Locationid: id, Date: Date },
                success: function (result) {
                    $('#ParView').html(result);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        })
    });
</script>

